#walrus-showing p, #walrus-showing img {
    display: none;
}

.trivia {
  display: none;
}

#triviaOne {
  display: none;
}

.showAnswer {
  display: none;
}

.clickable, .clickableTrivia, .answer {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover, .clickableTrivia:hover, .answer:hover {
  text-decoration: underline;
}
